# 기본적으로 모든 텍스트 파일은 체크아웃 시 OS에 맞게, 
# 커밋 시에는 LF로 자동 변환합니다.
* text=auto

# 소스 코드 및 설정 파일은 명시적으로 처리
*.c text
*.h text
*.cpp text
*.ioc text
*.md text
*.json text
*.txt text

# 바이너리 파일(이미지 등)은 건드리지 않도록 설정
*.png binary
*.jpg binary
*.hex binary
*.bin binary